<%- include('sign-in-header') -%> .
<div class="verification-step-4">
  <div class="verification-page-4-primary">
    <p class="step-num">step <strong>1</strong> of <strong>3</strong></p>
    <h1 class="heading-select">Choose the plan that's right for you</h1>
    <div class="feature-box">
      <div class="feature">
        <img src="images/check.png" alt="" class="tick-img" />
        <p class="feature-name">Watch all you want. Ad-free.</p>
      </div>
      <div class="feature">
        <img src="images/check.png" alt="" class="tick-img" />
        <p class="feature-name">Recommendations just for you.</p>
      </div>
      <div class="feature">
        <img src="images/check.png" alt="" class="tick-img" />
        <p class="feature-name">Change or cancel your plan anytime.</p>
      </div>
    </div>
  </div>
  <section class="section-pack-price">
    <div class="plan-name mobile">
      <div class="pack-title">
        <h1 class="heading-plan">Mobile</h1>
        <img
          src="images/netflix-logo-black-png-2565.png"
          alt=""
          class="pack-logo"
        />
      </div>
      <div class="plan-box">
        <ul class="plan-list">
          <li class="plan-feature">
            <strong>Monthly price</strong> : &#8377; 149
          </li>
          <li class="plan-feature"><strong>Video quality</strong> : Good</li>
          <li class="plan-feature"><strong>Resolution</strong> : 480p</li>
        </ul>
      </div>
    </div>
    <div class="plan-name mobile">
      <div class="pack-title">
        <h1 class="heading-plan">Basic</h1>
        <img
          src="images/netflix-logo-black-png-2565.png"
          alt=""
          class="pack-logo"
        />
      </div>
      <div class="plan-box">
        <ul class="plan-list">
          <li class="plan-feature">
            <strong>Monthly price</strong> : &#8377; 149
          </li>
          <li class="plan-feature"><strong>Video quality</strong> : Good</li>
          <li class="plan-feature"><strong>Resolution</strong> : 480p</li>
        </ul>
      </div>
    </div>
    <div class="plan-name mobile">
      <div class="pack-title">
        <h1 class="heading-plan">Standard</h1>
        <img
          src="images/netflix-logo-black-png-2565.png"
          alt=""
          class="pack-logo"
        />
      </div>
      <div class="plan-box">
        <ul class="plan-list">
          <li class="plan-feature">
            <strong>Monthly price</strong> : &#8377; 149
          </li>
          <li class="plan-feature"><strong>Video quality</strong> : Good</li>
          <li class="plan-feature"><strong>Resolution</strong> : 480p</li>
        </ul>
      </div>
    </div>
    <div class="plan-name mobile">
      <div class="pack-title">
        <h1 class="heading-plan">Premium</h1>
        <img
          src="images/netflix-logo-black-png-2565.png"
          alt=""
          class="pack-logo"
        />
      </div>
      <div class="plan-box">
        <ul class="plan-list">
          <li class="plan-feature">
            <strong>Monthly price</strong> : &#8377; 149
          </li>
          <li class="plan-feature"><strong>Video quality</strong> : Good</li>
          <li class="plan-feature"><strong>Resolution</strong> : 480p</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="copyright-text">
    <p class="copyrigth-one">
      HD (720p), Full HD (1080p), Ultra HD (4K) and HDR availability subject to
      your internet service and device capabilities. Not all content is
      available in all resolutions. See our
      <a class="term-link" href="">Terms of Use</a> for more details.
    </p>
    <p class="copyrigth-two">
      Only people who live with you may use your account. Watch on 4 different
      devices at the same time with Premium, 2 with Standard, and 1 with Basic
      and Mobile.
    </p>
  </div>
  <form class="step-4-form" action="/payment" method="post">
    <button class="step2-but" type="submit">next</button>
  </form>
</div>
