</body>
<footer>
  <h1 class="questions">Questions? Call 000-800-040-1843</h1>
  <div class="footer-multiple-list">
    <div class="question-section">
      <ul class="footer-list">
        <li class="list-item"><a href="#" class="footer-link">FAQ</a></li>
        <li class="list-item">
          <a href="#" class="footer-link">Cookie Preferences</a>
        </li>
      </ul>
    </div>
    <div class="question-section">
      <ul class="footer-list">
        <li class="list-item">
          <a href="#" class="footer-link">help center</a>
        </li>
        <li class="list-item">
          <a href="#" class="footer-link">corporate information</a>
        </li>
      </ul>
    </div>
    <div class="question-section">
      <ul class="footer-list">
        <li class="list-item">
          <a href="#" class="footer-link">Terms of Use</a>
        </li>
      </ul>
    </div>
    <div class="question-section">
      <ul class="footer-list">
        <li class="list-item">
          <a href="#" class="footer-link">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script
src="https://code.jquery.com/jquery-3.6.1.js"
integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
crossorigin="anonymous"
></script>
<script src="script/script.js"></script>
</html>