<%- include('sign-in-header') -%>
<div class="success-page">
  <h1 class="heading-success">Welcome to</h1>
  <img class="success-img" src="images/netflix-logo-2.png" alt="" />
</div>
<%- include('sign-in-footer') -%>
